@let currentUe = ue();
@if (currentUe) {
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar class="ue-icon">menu_book</mat-icon>
      <mat-card-title>{{ currentUe.nom }}</mat-card-title>
      <mat-card-subtitle>Réf. {{ currentUe.ref }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="ue-meta">
        <mat-chip-set>
          <mat-chip highlighted>{{ currentUe.code }}</mat-chip>
          <mat-chip>{{ currentUe.nbPeriodes }} périodes</mat-chip>
          <mat-chip>{{ currentUe.ects }} ECTS</mat-chip>
        </mat-chip-set>
      </div>

      @if (isLoading()) {
        <mat-progress-bar mode="indeterminate" />
      }

      <!-- Programme dans un panneau déroulant -->
      <mat-expansion-panel class="programme-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="panel-icon">description</mat-icon>
            Programme
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="ue-description" [innerHTML]="currentUe.prgm"></div>
      </mat-expansion-panel>

      @let detail = ueDetail();
      @if (detail) {
        <mat-expansion-panel class="acquis-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="panel-icon">school</mat-icon>
              Acquis d'apprentissage ({{ detail.acquis.length }})
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ul class="acquis-list">
            @for (acquis of detail.acquis; track acquis.num) {
              <li class="acquis-item">
                <span class="acquis-text">{{ acquis.num }}. {{ acquis.acquis }}</span>
                <mat-chip-set>
                  <mat-chip>{{ acquis.pourcentage }}&nbsp;%</mat-chip>
                </mat-chip-set>
              </li>
            }
          </ul>
        </mat-expansion-panel>
      }
    </mat-card-content>
  </mat-card>
}
