<div class="stat-group">
  <button mat-stroked-button
          [matBadge]="enCours()"
          matBadgeSize="small"
          matBadgeColor="primary"
          matBadgeOverlap="true"
          matTooltip="Créer un nouveau dossier"
          [disabled]="!canCreate()"
          (click)="creeDossier()">
    En cours
  </button>

  <button mat-stroked-button
          [matBadge]="traite()"
          matBadgeSize="small"
          matBadgeColor="accent"
          matBadgeOverlap="true"
          disabled>
    Traités
  </button>
</div>
