.forbidden-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 128px);
}

.forbidden-card {
  max-width: 480px;
  width: 100%;
  text-align: center;
}

.forbidden-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: var(--mat-sys-error);
}
