<header class="brand-name">
  <nav class="menu">
    <div class="actions">
      <button
        mat-icon-button
        aria-label="Menu"
        (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>

      @if (!authenticated()) {
        <button mat-icon-button  color="primary"  matTooltip="Login" (click)="login()">
          <mat-icon>login</mat-icon>
        </button>
      } @else {
        <app-dossier-stat></app-dossier-stat>
        <button mat-icon-button  color="warn" matTooltip="Logout: {{getUsername()}}" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      }
    </div>
  </nav>
</header>


